
body, html {
    height: 100%;
}

body{
	background-color:#27292b;
}

.main{
	margin-top: 60px;
	margin-bottom: 60px;
	color:white;
	/*padding-left:10px;*/
}
.navbar-inverse{
	background:black;
	color:white;
	
}
.btn-secondary{
    background:transparent;
    border: 4px solid #395edb;
    color:#acb0b8;

}

.btn-secondary:hover{
	color:white;
}

.btn-info{
	background:transparent;
    border: 4px solid #395edb;
    color:#acb0b8;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-info:hover{
	color:white;
}


.dropdown-item{
	color:#acb0b8;
}

.dropdown-item:hover{
	color:white;
	background-color: #27292b;
}

a img{
	width:20px;
	height:20px;
}
.fa-twitter-square{
	font-size:24px;
}
.glyphicon-envelope{
	font-size:22px;
}
.fa-github-square{
	font-size:24px;
}
form{
	padding-left: 25%;
	padding-right: 25%;
} 
thead{
	text-align: center;
}
th{
	text-align: center;
}
table{
  color:white;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	border-top-color:white;
	border-bottom-color: white;
	
	width: 75%	
}
input[type=submit]{
	background-color:green;
	color:white;
	cursor:pointer;
}
input[type=text]{
	color:green;
}
button, input[type=button]{
	background-color: green;
	color: white;
	text-align: center;
	width: 100%;
	cursor:pointer;
}

.h1ElementWhite{
	background-color: gold;
	text-align: center;
}

.searchBtn{
	/*width: 100%;*/
	padding-left: 25%;
	padding-right: 25%;
}	
.navbar-inverse .navbar-toggle {
  border-color: transparent; 
  background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #395edb; /* Changes regular toggle color */
}
.navbar-inverse .navbar-toggle .icon-bar:hover {
  background-color: blue; /* Changes toggle color on hover */
}
.dropdown-menu{
	white-space:nowrap;
}
.bgImage { 
    background-image: url("redblueart.jpg");
    height: 100%; 
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.addForm{
	color:gold;
	padding-left: 10px;
	text-align: center;
}
